---
class: ''
---

<nav aria-label="breadcrumb" class="{{ view:class }} max-w-[calc(100vw-48px)] overflow-hidden">
    <ol class="text-muted-foreground flex gap-1.5 text-sm sm:gap-2.5">
        <s:nav:breadcrumbs>
            <li class="{{ last ?= 'truncate' }} flex items-center gap-1.5">
                {{ unless last }}
                    <a href="{{ url }}" class="hover:text-foreground whitespace-nowrap">
                        <span>{{ title }}</span>
                    </a>
                    <s:svg src="lucide/chevron-right" class="size-3.5 shrink-0" />
                {{ else }}
                    <span class="text-primary truncate" aria-current="page">
                        <span>{{ title }}</span>
                    </span>
                {{ /unless }}
            </li>
        </s:nav:breadcrumbs>
    </ol>
</nav>
