{{#
    Glide carousel docs: https://glidejs.com/docs/options/

    Params:
    - controls_class: Additional classes for the controls container.
    - left_btn_class: Additional classes for the left button.
    - right_btn_class: Additional classes for the right button.
    - slot:config_properties: Slot for additional properties for the Glide config object.
    - slot: Slot for the carousel slides.
 #}}

{{ once }}
    {{ push:scripts }}
        {{# {{ vite src="resources/css/embla.css" }} #}}
        {{ vite src="resources/js/embla.js" }}
    {{ /push:scripts }}
{{ /once }}

<div>
    <div
        class="overflow-hidden"
        x-data="{
            emblaApi: null,
            slideSpacing: 16,
            init() {
                this.emblaApi = window.EmblaCarousel(this.$el, {
                    {{ slot:config_properties }}
                })
            }
        }"
        x-init="init()"
    >
        <div class="flex ml-[calc(var(--slide-spacing) * -1)]" :style="{ '--slide-spacing': `${slideSpacing}px` }">
            {{ slot }}
        </div>
    </div>

    <div class="embla__controls {{ controls_class }}">
        <button class="btn btn--outline btn--round {{ left_btn_class }}" aria-label="Previous">
            {{ icon:lucide-chevron-left }}
        </button>
        <button class="btn btn--outline btn--round {{ right_btn_class }}" aria-label="Next">
            {{ icon:lucide-chevron-right }}
        </button>
    </div>
</div>
