<template x-if="{{ show_field }}">
    <div class="grid gap-3 {{ container_class }} {{ input_type === 'hidden' ?= 'hidden' }}">

        {{ $fields_without_labels = ['toggle', 'radio', 'checkboxes', 'stepper'] }}
        {{ unless $fields_without_labels | contains(type) || input_type === 'hidden' }}
            {{ partial:components/ui/label }}
        {{ /unless }}

        <div class="grid gap-2">
            {{ partial src="components/ui/form/{type}" model="{form:handle}.{handle}" }}

            {{ if field:instructions && !($fields_without_labels | contains(type)) }}
                {{ partial:components/ui/input-instructions }}
            {{ /if }}

            {{ partial:components/ui/input-error }}
        </div>
    </div>
</template>
