{{ if image }}
    <picture>
        {{ asset :url="image" }}
            {{ if extension === 'svg' || extension === 'gif' }}
                <img
                    {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    src="{{ url }}"
                    alt="{{ alt }}"
                    {{ unless not_lazy }}
                        loading="lazy"
                    {{ /unless }}
                    decoding="async"
                    width="{{ width }}"
                    height="{{ height }}"
                />
            {{ elseif w && h }}
                <source srcset="
                    {{ glide:url :width='w' :height='h' fit='crop_focal' format='webp' }} 1x,
                    {{ glide:url :width='w' :height='h' fit='crop_focal' format='webp' dpr='2' }} 2x" type="image/webp">
                <source srcset="
                    {{ glide:url :width='w' :height='h' fit='crop_focal' }} 1x,
                    {{ glide:url :width='w' :height='h' fit='crop_focal' dpr='2' }} 2x" type="{{ image.mime_type }}">
                <img {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    {{ glide :src="url" :width='w' :height='h' fit='crop_focal' }}
                        src="{{ url }}"
                        alt="{{ alt }}"
                        width="{{ width }}"
                        height="{{ height }}"
                    {{ /glide }}
                    {{ unless not_lazy }}
                        loading="lazy"
                    {{ /unless }}
                    decoding="async"
                >
            {{ else }}
                <source srcset="
                        {{ glide:url preset='lg-avif' }} 1x,
                        {{ glide:url preset='lg-avif' dpr='2' }} 2x" type="image/avif">
                <source srcset="
                        {{ glide:url preset='lg-webp' }} 1x,
                        {{ glide:url preset='lg-webp' dpr='2' }} 2x" type="image/webp">
                <source srcset="
                        {{ glide:url preset='lg' }} 1x,
                        {{ glide:url preset='lg' dpr='2' }} 2x" type="{{ image.mime_type }}">
                <img {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    {{ glide :src="url" preset="lg" }}
                        src="{{ url }}"
                        alt="{{ alt }}"
                        width="{{ width }}"
                        height="{{ height }}"
                    {{ /glide }}
                    {{ unless not_lazy }}
                        loading="lazy"
                    {{ /unless }}
                    decoding="async"
                >
            {{ /if }}
        {{ /asset }}
    </picture>
{{ /if }}
