<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{ partial:partials/seo }}
        {{ partial:partials/browser-appearance }}

        {{# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" media="print" onload="this.media='all'"> #}}

        {{ vite src="resources/css/site.css" }}
        {{# Async load fonts #}}
        {{ vite src="resources/css/fonts.css" attr:style:media="print" attr:style:onload="this.media='all'" }}

        {{ scripts:code_head }}
    </head>
    <body class="min-h-screen bg-white font-sans antialiased text-base leading-normal text-gray-600 overflow-x-hidden selection:bg-primary selection:text-white">
        {{ partial:partials/skip-to-content }}
        {{ yield:seo_body }}
        {{ partial:partials/header }}

        {{ template_content }}

        {{ partial:partials/footer }}

        {{# Push scripts when various components are added #}}
        {{ stack:scripts }}
        {{ vite src="resources/js/site.js" }}

        {{# Scripts #}}
        {{ scripts:code_footer }}
    </body>
</html>
