<section id="{{ type | slugify }}" class="m-section">
    <div class="container">
        <s:partial:components.section-header :title="title" :text="text" />

        {{ if query == 'custom' }}
            {{ blog_posts = entries }}
        {{ elseif query == 'latest' }}
            {{ blog_posts = {collection:posts :limit="limit" sort="date:desc"} }}
        {{ elseif query == 'featured' }}
            {{ blog_posts = {collection:posts :limit="limit" featured="true" sort="order"} }}
        {{ /if }}

        <div class="site-grid mx-auto max-w-2xl gap-y-20 lg:max-w-none">
            {{ blog_posts }}
                <s:partial:components.entry-posts
                    :image="image"
                    :url="url"
                    :title="title"
                    :excerpt="excerpt"
                    :date="date"
                    :categories="categories"
                    class="col-span-full lg:col-span-4"
                />
            {{ /blog_posts }}
        </div>
    </div>
</section>
