<section class="py-20">
    <div class="container site-grid items-center">
        <div class="md:col-span-6 max-w-lg">
            <h1 class="h1 br-hidden sm:br-visible">{{ title | nl2br }}</h1>
            <p class="content-lg mt-8 text-pretty text-gray-600">{{ text }}</p>
            {{ partial:components/buttons container_class="mt-10" class="btn--lg" }}
        </div>
        <div class="md:col-span-6 bg-gray-100 rounded-3xl aspect-square">
            {{ partial:components/picture w="592" h="592" class="rounded-3xl" cover="true" }}
        </div>
    </div>
</section>
