<section class="my-20 md:my-32 xl:my-40">
    <div class="container space-y-28">
        <div>
            <div class="border-b border-gray-300 mb-10">
                <h2 class="h2 pb-6">Button: primary</h3>
            </div>
            <div class="flex flex-col gap-6 items-center justify-start sm:flex-row sm:items-end">
                {{ partial:components/button button_type="primary" label="Get started" link_type="url" url="/" class="btn--sm" }}
                {{ partial:components/button button_type="primary" label="Get started" link_type="url" url="/" }}
                {{ partial:components/button button_type="primary" label="Get started" link_type="url" url="/" class="btn--lg" }}
            </div>
        </div>

        <div>
            <div class="border-b border-gray-300 mb-10">
                <h2 class="h2 pb-6">Button: secondary</h3>
            </div>
            <div class="flex flex-col gap-6 items-center justify-start sm:flex-row sm:items-end">
                {{ partial:components/button button_type="secondary" label="Get started" link_type="url" url="/" class="btn--sm" }}
                {{ partial:components/button button_type="secondary" label="Get started" link_type="url" url="/" }}
                {{ partial:components/button button_type="secondary" label="Get started" link_type="url" url="/" class="btn--lg" }}
            </div>
        </div>

        <div>
            <div class="border-b border-gray-300 mb-10">
                <h2 class="h2 pb-6">Headings</h3>
            </div>
            <div class="space-y-10">
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h1</dt>
                    <dd class="h1 leading-tight truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h2</dt>
                    <dd class="h2 leading-tight truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h3</dt>
                    <dd class="h3 truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h4</dt>
                    <dd class="h4 truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h5</dt>
                    <dd class="h5 truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-16 shrink-0 content-sm text-gray-600 font-mono leading-6">h6</dt>
                    <dd class="h6 truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
            </div>
        </div>

        <div>
            <div class="border-b border-gray-300 mb-10">
                <h2 class="h2 pb-6">Typography</h3>
            </div>
            <div class="space-y-10">
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">tagline</dt>
                    <dd class="tagline text-primary truncate">The quick brown fox</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">content-xl</dt>
                    <dd class="content-xl truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">content-lg</dt>
                    <dd class="content-lg truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">content</dt>
                    <dd class="content truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">content-sm</dt>
                    <dd class="content-sm truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
                <div class="flex items-start">
                    <dt class="w-32 shrink-0 content-sm text-gray-600 font-mono leading-6">content-xs</dt>
                    <dd class="content-xs truncate">The quick brown fox jumps over the lazy dog.</dd>
                </div>
            </div>
        </div>
    </div>
</section>
