<section class="m-section">
    <div class="container">
        <h2 class="h2">{{ title }}</h2>

        <div class="site-grid">
            {{ if query === 'custom' }}
                {{ $entries = entries }}
            {{ elseif query === 'latest' }}
                {{ $entries = {collection:testimonials :limit="limit" sort="date:desc"} }}
            {{ elseif query === 'featured' }}
                {{ $entries = {collection:testimonials :limit="limit" featured:is="true" sort="order"} }}
            {{ /if }}

            {{ $entries }}
                <div class="md:col-span-6">
                    <blockquote>
                        <p class="content-lg">
                            “{{ quote }}”
                        </p>
                        <footer class="mt-8">
                            <div class="flex items-start gap-x-4">
                                {{ partial:elements/avatar :image="avatar" w="48" h="48" class="size-12" }}
                                <div class="content-sm">
                                    <p>{{ author }}</p>
                                    <p class="text-gray-500">{{ author_title }}</p>
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            {{ /$entries }}
        </div>
    </div>
</section>
