<div class="relative bg-white" x-data="{ mobileNavOpen: false }">
    <div class="container">
        <div class="flex justify-between items-center py-6 md:justify-start md:gap-x-10">
            <div class="flex-1 lg:w-0">
                {{ partial:components/logo class="w-52 block" }}
            </div>
            <div class="-mr-2 -my-2 lg:hidden">
                <button
                    type="button"
                    class="btn bg-white p-2 text-black hover:bg-gray-100"
                    :aria-expanded="mobileNavOpen"
                    @click.prevent="mobileNavOpen = !mobileNavOpen"
                >
                    <span class="sr-only">Open menu</span>
                    {{ svg src="menu" class="h-6 w-6" }}
                </button>
            </div>

            {{ partial:partials/nav-header-desktop }}

            <div class="hidden lg:flex items-center justify-end lg:flex-1 lg:w-0 gap-x-2">
                {{ configuration:header_buttons }}
                    {{ button }}
                        {{ partial:components/button class="btn--sm" }}
                    {{ /button }}
                {{ /configuration:header_buttons }}
            </div>
        </div>
    </div>

    {{# Hidden from lg and up #}}
    {{ partial:partials/nav-header-mob }}
</div>
