{{ nav handle="bottom_footer" max_depth="1" select="title|url" as="links" }}
    {{ if links }}
        <nav class="flex gap-8">
            {{ links }}
                <a
                    href="{{ url }}"
                    class="text-xs text-gray-600 hover:text-gray"
                    {{ if is_external }} target="_blank" rel="noopener nofollow" {{ /if }}
                >
                    {{ title }}
                </a>
            {{ /links }}
        </nav>
    {{ /if }}
{{ /nav }}
