{{ nav handle="footer_secondary" max_depth="1" select="title|url" as="links" }}
    {{ if links }}
        <ul class="space-y-4 sm:space-y-0 sm:flex sm:gap-10">
            {{ links }}
                <li>
                    <a
                        href="{{ url }}"
                        class="content-sm text-gray-600 hover:text-black"
                        {{ if is_external }} target="_blank" rel="noopener nofollow" {{ /if }}
                    >
                        {{ title }}
                    </a>
                </li>
            {{ /links }}
        </ul>
    {{ /if }}
{{ /nav }}
