{{ if social_media:platforms }}
    <div class="flex gap-6">
        {{ social_media:platforms }}
            <a
                href="{{ prefix }}{{ url }}"
                class="text-gray-400 hover:text-gray-500"
                target="_blank"
                rel="noopener"
                aria-label="External source: {{ type | title }} (Opens in a new window)"
            >
                {{ svg src="social/{type}" class="size-5" }}
            </a>
        {{ /social_media:platforms }}
    </div>
{{ /if }}
