includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes
        - tests

    level: 8

    tmpDir: /tmp/phpstan

    ignoreErrors:
        -
            identifier: method.notFound
            reportUnmatched: false
            message: '#Statamic\\Contracts\\#'
        -
            identifier: staticMethod.notFound
            reportUnmatched: false
            message: '#Statamic\\Contracts\\#'
        -
            identifier: property.notFound
            reportUnmatched: false
            message: '#Statamic\\(Contracts\\)?Entries\\Entry#'
        -
            identifier: property.protected
            reportUnmatched: false
            message: '#Statamic\\Entries\\Entry#'
