<main id="content" class="my-16 sm:my-24 lg:my-28">
    <div class="site-grid container mb-12">
        <div class="col-span-full md:col-span-11 md:col-start-2 xl:col-span-9 xl:col-start-3">
            <s:partial:components.breadcrumbs class="mb-12" />
            <div class="aspect-video rounded-3xl bg-gray-100">
                <s:partial:components.ui.picture
                    :image="image"
                    w="904"
                    h="509"
                    class="rounded-3xl"
                    cover="true"
                />
            </div>
            <h1 class="h1 mt-em">{{ title }}</h1>
            <s:partial:components.entry-meta
                :date="date"
                :category="categories:title"
                class="mt-6"
            />
            <s:partial:partials.social-sharing class="mt-6" />
        </div>
    </div>

    <s:partial:blocks.article />
    {{ if show_related_posts }}
        <s:partial:partials.related-posts />
    {{ /if }}
</main>
