<template x-if="{{ show_field }}">
    <div {{ container_class | attribute:class }}>
        {{ $fields_with_no_labels =
            [
                'toggle',
                'radio',
                'checkboxes',
            ]
        }}
        {{ unless $fields_with_no_labels | contains(type) || input_type === 'hidden' }}
            {{ partial:components/form/label }}
        {{ /unless }}

        <div>
            {{ partial src="components/form/fields/{type}" model="{form:handle}.{handle}" }}

            {{ if instructions }}
                <p class="mt-3 text-sm text-gray-500">{{ instructions }}</p>
            {{ /if }}

            {{# Display error label when there is a validation error with the name field. #}}
            <template x-if="errors.{{ handle }}">
                <p class="text-red-600 text-sm mt-2" id="error-{{ handle }}" x-text="errors.{{ handle }}"></p>
            </template>
        </div>
    </div>
</template>
