<figure class="my-0 not-prose">
    <div class="relative aspect-video" x-data="{ playing: false }">
        <div class="absolute inset-0 bg-gray/30"></div>

        <iframe
            x-ref="iframe"
            class="absolute inset-0 size-full"
            data-src="{{ youtube_url | embed_url }}"
            loading="lazy"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>

        <img src="https://img.youtube.com/vi/{{ youtube_id }}/maxresdefault.jpg" class="object-cover size-full" loading="lazy" alt="YouTube thumbnail">

        {{# Load YouTube thumbnail first and only load an iframe when a user clicks play #}}
        <button
            x-show="!playing"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white hover:text-white/80 focus-visible:text-white/80 active:text-white/80"
            @click="$refs.iframe.src = $refs.iframe.dataset.src + '?autoplay=1'; playing = true"
        >
            {{ svg src="play" class="size-12" }}
        </button>
    </div>

    {{ if caption }}
        <figcaption class="text-sm block mt-2">
            {{ caption }}
        </figcaption>
    {{ /if }}
</figure>
