prose
prose-p:content
prose-p:my-0
prose-headings:text-white
prose-headings:font-heading
prose-headings:mt-em
prose-headings:mb-0
prose-h2:h3
prose-h3:h4
prose-h4:h5
prose-a:text-primary
hover:prose-a:text-primary-300
focus:prose-a:outline-none
focus-visible:prose-a:ring
focus-visible:prose-a:ring-primary
focus-visible:prose-a:rounded-sm
prose-ul:my-0
prose-ol:my-0
prose-ul:space-y-em
prose-ol:space-y-em
prose-li:my-0
prose-blockquote:my-0
prose-blockquote:border-primary-700
prose-blockquote:pl-7
prose-blockquote:not-italic
prose-li:marker:text-white
prose-pre:whitespace-pre-wrap
prose-pre:my-0
prose-strong:text-white
prose-code:text-rose
max-w-none
