<section class="section-m">
    <div class="container">
        {{ partial:partials/section-header }}

        <div class="lg:site-grid mt-12">
            <div class="lg:col-span-10 lg:col-start-2">
                {{ if query === 'custom' }}
                    {{ $entries = entries }}
                {{ elseif query === 'latest' }}
                    {{ $entries = {collection:posts :limit="limit" sort="date:desc"} }}
                {{ elseif query === 'featured' }}
                    {{ $entries = {collection:posts :limit="limit" featured:is="true" sort="order"} }}
                {{ /if }}

                {{ partial:components/slider controls_class="top-0" }}
                    {{ slot:glide }}
                        type: 'carousel',
                        animationDuration: 700,
                        perView: 2,
                        gap: 40,
                        breakpoints: {
                            1535: {
                                gap: 32,
                            },
                            1023: {
                                gap: 24,
                            },
                            767: {
                                gap: 16
                            },
                            639: {
                                perView: 1,
                            },
                        }
                    {{ /slot:glide }}

                    {{ $entries }}
                        <li class="glide__slide">
                            <a href="{{ url }}">
                                <h3 class="h3">{{ title }}</h3>
                            </a>
                        </li>
                    {{ /$entries }}
                {{ /partial:components/slider }}
            </div>
        </div>
    </div>
</section>
