---
model: ''
---

<select
    x-model="{{ view:model }}"
    :class="{
        'text-muted-foreground': ! {{ view:model }},
    }"
    id="{{ id }}"
    name="{{ handle }}{{ multiple ?= '[]' }}"
    :aria-invalid="form.invalid('{{ handle }}')"
    :aria-describedby="form.invalid('{{ handle }}') ? '{{ id }}-error' : {{ if instructions }}'{{ id }}-instructions'{{ else }}false{{ /if }}"
    {{ multiple | attribute:multiple }}
    @change="form.validate('{{ handle }}')"
>
    {{ unless multiple }}
        <option value :selected="! {{ view:model }} ? true : false" disabled>
            Select {{ handle | deslugify | title }}…
        </option>
    {{ /unless }}
    {{ foreach:options as="value|label" }}
        <option value="{{ value }}">
            {{ label }}
        </option>
    {{ /foreach:options }}
</select>
