{{ once }}
    {{ push:scripts }}
        {{ vite src="resources/js/components/stepper.js" }}
    {{ /push:scripts }}
{{ /once }}

<div
    class="flex items-center flex-wrap gap-y-3 gap-x-6"
    x-data="stepper({{ min ?? 0 }}, {{ max ?? 9999 }}, {{ step ?? 1 }})"
>
    {{ partial:components/ui/label }}

    <div class="flex items-center gap-x-1">
        <button
            type="button"
            class="btn btn--outline btn--sm btn--round shrink-0"
            @click="decrement"
            tabindex="-1"
            aria-label="Decrement"
            aria-controls="{{ handle }}"
            :disabled="isAtMin"
            :aria-disabled="isAtMin"
        >
            {{ icon:lucide-minus }}
        </button>

        {{ if show_input }}
            <input
                x-ref="input"
                x-model="{{ model }}"
                x-modelable="count"
                class="size-8 px-0 text-center border-none shadow-none [-moz-appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-inner-spin-button]:m-0"
                id="{{ id }}"
                name="{{ handle }}"
                type="number"
                :min="min"
                :max="max"
                :step="step"
                aria-labelledby="{{ id }}-label"
                :aria-invalid="form.invalid('{{ handle }}')"
                {{ if instructions }}
                    :aria-describedby="form.invalid('{{ handle }}') ? '{{ id }}-error' : '{{ id }}-instructions'"
                {{ else }}
                    :aria-describedby="form.invalid('{{ handle }}') ? '{{ id }}-error' : false"
                {{ /if }}
                @input="handleInput"
                @change="form.validate('{{ handle }}')"
            />
        {{ else }}
            <span class="text-lg/none font-semibold text-center w-8 tabular-nums" x-text="count"></span>
        {{ /if }}

        <button
            type="button"
            class="btn btn--outline btn--sm btn--round shrink-0"
            @click="increment"
            tabindex="-1"
            aria-label="Increment"
            aria-controls="{{ handle }}"
            :disabled="isAtMax"
            :aria-disabled="isAtMax"
        >
            {{ icon:lucide-plus }}
        </button>
    </div>
</div>
