---
model: ''
---

<div class="relative w-full">
    {{ if prepend }}
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-5">
            <span class="text-muted-foreground text-sm">{{ prepend }}</span>
        </div>
    {{ /if }}
    <input
        x-model="{{ view:model }}"
        id="{{ id }}"
        name="{{ handle }}"
        type="{{ input_type ?? 'text' }}"
        class="{{ ['pl-10' => prepend, 'pr-10' => append] | classes }}"
        {{ placeholder | attribute:placeholder }}
        {{ character_limit | attribute:maxlength }}
        {{ old | attribute:value }}
        {{ autocomplete | attribute:autocomplete }}
        {{ visibility === 'read_only' ?= 'readonly' }}
        x-bind:aria-invalid="form.invalid('{{ handle }}')"
        x-bind:aria-describedby="form.invalid('{{ handle }}') ? '{{ id }}-error' : {{ if instructions }}'{{ id }}-instructions'{{ else }}false{{ /if }}"
        x-on:change="form.validate('{{ handle }}')"
    />
    {{ if append }}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-5">
            <span class="text-muted-foreground text-sm">{{ append }}</span>
        </div>
    {{ /if }}
</div>
