<section class="relative py-14 md:py-28 lg:py-36">
    <div class="container">
        <div class="text-center max-w-2xl mx-auto mb-10 lg:mb-12">
             <h2 class="h2 mb-6">{{ title }}</h2>

            {{ if text }}
                <p class="content-lg">{{ text | widont }}</p>
            {{ /if }}
        </div>

        <dl class="max-w-2xl mx-auto pb-6 mt-6 space-y-6 divide-y divide-gray-200 border-b border-gray-200">
            {{ items }}
                {{ partial:components/disclosure }}
            {{ /items }}
        </dl>
    </div>
</section>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {{ if items }}
                {{ items }}
                    {
                        "@type": "Question",
                        "name": "{{ title }}",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "{{ text | add_slashes }}"
                        }
                    }{{ unless last }},{{ /unless }}
                {{ /items }}
            {{ /if }}
        ]
    }
</script>
