<section class="py-20">
    <div class="container">
        <h2 class="h2">{{ title }}</h2>

        <div class="grid md:grid-cols-2 gap-8">
            {{ if query === 'custom' }}
                {{ $entries = entries }}
            {{ elseif query === 'latest' }}
                {{ $entries = {collection:testimonials :limit="limit" sort="date:desc"} }}
            {{ elseif query === 'featured' }}
                {{ $entries = {collection:testimonials :limit="limit" featured:is="true" sort="order"} }}
            {{ /if }}

            {{ $entries }}
                <div class="p-8 md:flex md:flex-col md:px-12 bg-gray-700">
                    <blockquote class="md:flex-grow md:flex md:flex-col">
                        <p class="content-lg text-white md:flex-grow">
                            “{{ quote }}”
                        </p>
                        <footer class="mt-8">
                            <div class="flex items-start">
                                {{ partial:elements/avatar :image="author_image" w="48" h="48" class="h-12 w-12" }}
                                <div class="ml-4">
                                    <p class="content-sm text-white">{{ author }}</p>
                                    <p class="content-sm text-gray-200">{{ author_title }}</p>
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            {{ /$entries }}
        </div>
    </div>
</section>
