{{ if searchable }}
    {{ partial:components/ui/form/combobox }}
{{ else }}
    <select
        x-model="{{ model }}"
        :class="{
            'text-muted-foreground': !{{ model }}
        }"
        id="{{ id }}"
        name="{{ handle }}{{ multiple ?= "[]" }}"
        :aria-invalid="hasError('{{ handle }}')"
        {{ if instructions }}
            :aria-describedby="hasError('{{ handle }}') ? '{{ id }}-error' : '{{ id }}-instructions'"
        {{ else }}
            :aria-describedby="hasError('{{ handle }}') ? '{{ id }}-error' : undefined"
        {{ /if }}
        {{ multiple | attribute:multiple }}
        @change="forgetError('{{ handle }}')"
    >
        {{ unless multiple }}
            <option value :selected="!{{ model }} ? true : false" disabled>
                Select {{ handle | deslugify }}…
            </option>
        {{ /unless }}
        {{ foreach:options as="option|label" }}
            <option value="{{ option }}">
                {{ label }}
            </option>
        {{ /foreach:options }}
    </select>
{{ /if }}
