---
model: ''
min: 0
max: 9999
step: 1
show_input: true
container_class: 'flex flex-wrap items-center gap-x-6 gap-y-3'
class: ''
---

{{ once }}
    {{ push:scripts }}
        <s:vite src="resources/js/components/stepper.js" />
    {{ /push:scripts }}
{{ /once }}

<div class="{{ view:container_class }}" x-data="stepper({{ view:min }}, {{ view:max }}, {{ view:step }})">
    {{ unless slot }}
        <s:partial:components.ui.label :display="display" :id="id" />
    {{ /unless }}

    <div class="flex items-center gap-x-1">
        <button
            type="button"
            class="btn btn--outline btn--sm btn--round shrink-0"
            tabindex="-1"
            aria-label="Decrement"
            aria-controls="{{ id }}"
            @click="decrement"
            :disabled="isAtMin"
            :aria-disabled="isAtMin"
        >
            <s:svg src="lucide/minus" />
        </button>

        {{ if view:show_input }}
            <input
                x-ref="input"
                x-model="{{ view:model }}"
                x-modelable="count"
                id="{{ id }}"
                class="[&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none size-8 border-none px-0 text-center shadow-none [-moz-appearance:textfield]"
                name="{{ handle }}"
                inputmode="numeric"
                type="number"
                :min="min"
                :max="max"
                :step="step"
                aria-labelledby="{{ id }}-label"
                :aria-invalid="form.invalid('{{ handle }}')"
                :aria-describedby="form.invalid('{{ handle }}') ? '{{ id }}-error' : {{ if instructions }}'{{ id }}-instructions'{{ else }}false{{ /if }}"
                @input="handleInput"
                @change="form.validate('{{ handle }}')"
            />
        {{ elseif slot }}
            <input type="hidden" name="{{ handle }}" value="{{ view:model }}" />
            <div class="text-center {{ view:class }}">
                <output
                    x-model="{{ view:model }}"
                    x-modelable="count"
                    id="{{ id }}"
                    aria-labelledby="{{ id }}-label"
                    class="tabular-nums"
                ></output>
                {{ slot }}
            </div>
        {{ /if }}

        <button
            type="button"
            class="btn btn--outline btn--sm btn--round shrink-0"
            tabindex="-1"
            aria-label="Increment"
            aria-controls="{{ id }}"
            @click="increment"
            :disabled="isAtMax"
            :aria-disabled="isAtMax"
        >
            <s:svg src="lucide/plus" />
        </button>
    </div>
</div>
