<textarea
    x-model="{{ model }}"
    id="{{ handle }}"
    name="{{ handle }}"
    rows="5"
    {{ class | attribute:class }}
    {{ placeholder | attribute:placeholder }}
    {{ character_limit | attribute:maxlength }}
    :aria-invalid="hasError('{{ handle }}')"
    {{ if instructions }}
        :aria-describedby="hasError('{{ handle }}') ? '{{ handle }}-error' : '{{ handle }}-instructions'"
    {{ else }}
        :aria-describedby="hasError('{{ handle }}') ? '{{ handle }}-error' : undefined"
    {{ /if }}
    @change="forgetError('{{ handle }}')"
></textarea>
