{{ once }}
    {{ push:scripts }}
        {{ vite src="resources/js/combobox.js" }}
    {{ /push:scripts }}
{{ /once }}

<div
    x-data="combobox({
        id: {{ handle | to_js }},
        items: {{ options | to_js }},
    })"
    @click.away="closeListbox()"
    @keydown.escape="closeListbox()"
    class="relative"
    {{ attributes }}
>
    <div class="relative">
        <input
            x-ref="comboboxInput"
            x-model="comboboxSearch"
            :id="id"
            type="text"
            class="pr-12"
            :class="{ 'has-error': hasError('{{ handle }}') }"
            role="combobox"
            :aria-controls="id + '-items'"
            :aria-expanded="listboxOpen"
            :aria-labelledby="id + '-label'"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            {{ placeholder | attribute:placeholder }}
            @input.debounce.100ms="openListbox()"
            @keydown.enter.stop.prevent="selectOption()"
            @keydown.arrow-up.prevent="itemActivePrevious()"
            @keydown.arrow-down.prevent="itemActiveNext()"
        >
        <button
            type="button"
            tabindex="-1"
            aria-haspopup="listbox"
            :aria-expanded="listboxOpen"
            :aria-labelledby="id + '-label'"
            :aria-controls="id + '-items'"
            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none"
            @click="openListbox()"
        >
            <span class="sr-only">Toggle {{ handle | deslugify }}</span>
            {{ svg src="chevron-up-down" class="size-5 text-gray-400" }}
        </button>
    </div>

    <ul
        x-ref="listbox"
        x-cloak
        x-show="listboxOpen"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        :id="id + '-items'"
        class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none text-sm"
        role="listbox"
        @keydown.enter.stop.prevent="selectOption()"
        @keydown.arrow-up.prevent="itemActivePrevious()"
        @keydown.arrow-down.prevent="itemActiveNext()"
    >
        <template x-for="(item, index) in itemsFiltered" :key="'item-' + index">
            <li
                :id="item.key + '-' + id"
                role="option"
                :aria-selected="itemIsActive(item)"
                class="relative py-2.5 pl-3 text-gray cursor-default select-none pr-10"
                :class="{ 'bg-primary': itemIsActive(item) }"
                tabindex="-1"
                @click="selectOption()"
                @mousemove="itemActive = item"
            >
                <span
                    x-text="item.value"
                    :class="{ 'font-semibold': itemIsSelected(item) }"
                    class="block truncate"
                ></span>

                <span
                    x-show="itemIsSelected(item)"
                    :class="{ 'text-gray-900': itemIsActive(item), 'text-primary': !itemIsActive(item) }"
                    class="absolute inset-y-0 right-0 flex items-center pr-4"
                >
                    {{ svg src="heroicons-mini/check" class="size-5" }}
                </span>
            </li>
        </template>

        <li
            x-show="!itemsFiltered.length"
            x-text="emptyOptionsMessage"
            class="p-3 text-gray-900 cursor-default select-none"
        ></li>
    </ul>
</div>
