<header class="text-center mb-10 max-w-xl mx-auto">
    <div>
        <span class="h4">{{ display }}</span>
        {{ if information }}
            {{ partial:components/modal
                container_class="inline"
                trigger_button_class="inline rounded-full p-2 text-gray hover:text-gray-700"
                panel_class="max-w-lg"
            }}
                {{ slot:trigger_button }}
                    {{ svg src="info-circle" class="w-6 h-6" }}
                {{ /slot:trigger_button }}

                {{ slot:title }}
                    <p class="h6">{{ display }}</p>
                {{ /slot:title }}

                <div class="text-lg leading-7 mb-8">
                    {{ information }}
                </div>
                <button type="button" class="btn btn--primary btn--sm" @click="toggle()">
                    {{ forms:modal_button_label }}
                </button>
            {{ /partial:components/modal }}
        {{ /if }}
    </div>

    {{ if instructions }}
        <p class="content-lg mt-3">{{ instructions }}</p>
    {{ /if }}
</header>
