<div
    class="flex gap-x-4 sm:col-span-2"
    x-data="{
        on: false,
        toggle() {
            this.on = !this.on;
            this.$refs.switch.focus();
            this.{{ model }} = this.on;
            this.forgetError('{{ handle }}');
        }
    }"
>
    <div class="flex h-6 items-center">
        <button
            x-ref="switch"
            type="button"
            class="flex w-10 flex-none rounded-full p-px ring-1 ring-inset ring-gray-900/5 duration-200 ease-in-out bg-gray-200"
            :class="{ 'bg-primary': on, 'bg-gray-200': !on }"
            role="switch"
            aria-labelledby="{{ handle }}"
            :aria-checked="on.toString()"
            @click="toggle()"
        >
            <span class="sr-only">Toggle {{ handle | deslugify }}</span>
            <span
                aria-hidden="true"
                class="size-5 transform rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition duration-200 ease-in-out translate-x-0"
                :class="{ 'translate-x-4.5': on, 'translate-x-0': !on }"
            ></span>
        </button>
    </div>
    <label
        class="text-sm/6 text-gray-600 prose"
        id="{{ handle }}"
        @click="toggle()"
    >
        {{ inline_label }}
    </label>
</div>
